.message {
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
  color: #0684be;
  letter-spacing: 14px;
  margin-left: 20px;
  margin-top: 0px;
}

.city {
  margin-left: 15px;
  color: white;
  margin-top: 30px;
  font-size: 28px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 3px;
}

.today {
  font-size: 15px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 3px;
  color: white;
  margin-bottom: 20px;
  margin-left: 15px;
}

.temperature {
  font-size: 50px;
  margin-left: 15px;
  color: #ec4513;
  font-family: "Varela Round", sans-serif;
}

.units {
  font-size: 25px;
  color: #ec4513;
  font-family: "Varela Round", sans-serif;
}

.mb-3 {
  font-family: "Varela Round", sans-serif;
  font-size: 13px;
  color: #77557a;
  border: solid 2px white;
  display: block;
  margin: auto;
  max-width: 400px;
  box-shadow: 5px 5px 10px #77557a;
}

.current {
  font-size: 13px;

  padding: 8px 15px;
  border: solid 2px white;
  display: block;
  margin: auto;
  max-width: 100%;
  border-radius: 40px;
  box-shadow: 5px 5px 10px #77557a;
  background: #ffffff;
  color: #77557a;
  margin-top: 40px;
}

.fa-search {
  color: #ec4513;
}

.input-group-append {
  background: white;
}

.next-days {
  border: solid 2px white;
  box-shadow: 5px 5px 10px #77557a;
  border-radius: 10px;
  padding-top: 8px;
  font-family: "Varela Round", sans-serif;
  font-size: 13px;
  background: #8fa5e2;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  max-width: 100%;
}

.next-days:hover {
  cursor: default;
}

.degree {
  font-size: 16px;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.nuage {
  margin-left: 150px;
  margin-top: -110px;
}

.open-source {
  font-family: "Varela Round", sans-serif;
  margin-left: 20px;

  font-size: 16px;
  transition: all 200ms ease-in-out;
}

.open-source:hover {
  color: #ec4513;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.website {
  font-family: "Varela Round", sans-serif;

  font-size: 16px;
  transition: all 200ms ease-in-out;
}

.website:hover {
  color: #ec4513;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 470px;
  margin: 15px;
}

.weather-app {
  max-width: 100%;
  box-shadow: 5px 5px 15px #9f99b4;
  border: 5px solid #ffffff;
  border-radius: 25px;
  padding: 20px;
  margin-top: 20px;
  background-image: linear-gradient(
    to top,
    #d5d4d0 0%,
    #d2dff0 1%,
    #f7f7f7 31%,
    #ac93b6 100%
  );
}

.active {
  font-size: 50px;
  color: #ec4513;
  font-family: "Varela Round", sans-serif;
}
.active:hover {
  text-decoration: none;
  cursor: default;
  color: #ec4513;
}
